#word {
  font-size: 50px;
  position: absolute;
   text-align: center;
   font-family: comic sans ms;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 4px 0 black, 0 -1px black;
  
    
}

#pootis {
  position: absolute;
    bottom: 0;
}

 



